
.name_inputs, .contact_inputs, .password_inputs{
    display:flex;
    padding: 0.1em;
}
.first_name, .last_name, .phone_input, .email_input, .password_input, .password_reneter_input{
    display:block;
}

